/* ---------------------------------follower and following list--------------------------------------- */


/* container */

.container {
    max-width: 600px;
    min-height: 720px;
    margin: auto;
    background: #282828;
    border-radius: 50px;
    padding: 25px;
}


/* follow user count */

.follow-count {
    width: 100%;
    text-align: center;
    font-size: 32px;
    font-weight: 500;
}


/* back to profile button */

.back-to-profile {
    font-size: 18px;
    border-bottom: 1px solid #fff;
}


/* search follow */

.follow-search {
    margin: 15px 0;
    width: 100%;
    background-color: #E4D8D840;
    border-radius: 9px;
    padding: 5px;
}

.user-search {
    background: transparent;
    outline: none;
    border: 0;
    padding: 1px 10px 1px 4px;
    margin: 0 10px;
    width: 100%;
    max-height: 35px;
    font-size: 20px;
}

.user-search:focus {
    border-bottom: 1px solid #acacacd7;
}


/* user info list */

.user-info {
    overflow: auto;
    max-height: 500px;
}

.follower-table {
    width: 100%;
}

.follower-table tr {
    display: flex;
    justify-content: flex-start;
    padding: 12px;
    border-radius: 10px;
    transition: all .15s ease;
}

.user-name {
    margin-left: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.user-name a {
    font-size: 22px;
    font-weight: 500;
}

.follower-table tr:hover {
    background-color: #444444b9;
}


/* user not found */

.user-not-found {
    display: none;
    padding: 10px;
    font-size: 27px;
    color: rgba(161, 161, 161, 0.582);
}


/* user not found if no user follow */

.user-not-found {
    font-size: 30px;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.507);
    text-align: center;
    padding: 10px;
}


/* resize follow button */

.resize-btn {
    height: 35px;
    width: 140px;
}