@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@300;400;500;600&family=IBM+Plex+Sans+Thai:wght@300;400;500;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans Thai', sans-serif;
    font-size: 21px;
    color: #fff;
    list-style: none;
    text-decoration: none;
}


/*————————————*
$CONTENTS
*————————————
* often use…………
* navbar…………
* footer…………
* home…………
*/


/* ---------------------------------often use--------------------------------------- */


/* main background */

.mainbg {
    width: 100%;
    background-repeat: repeat;
    background-image: url("/statics/images/mainbg.svg");
    padding: 50px 250px 250px 250px;
}


/* vertical(|) center only */

.vcenter {
    display: flex;
    align-items: center;
}


/* horizontal(—) center only */

.hcenter {
    display: flex;
    justify-content: center;
}


/* vertical(|) horizontal(—) center */

.vhcenter {
    display: flex;
    align-items: center;
    justify-content: center;
}


/* web theme color */

.redorange {
    background-color: #E05F4C;
}


/* blog font */

.blogfont {
    font-size: 20px;
    font-family: 'Bai Jamjuree', sans-serif;
}


/*effect-underline*/

.effect-underline:after {
    background: none repeat scroll 0 0 transparent;
    content: "";
    display: block;
    height: 1.5px;
    margin-left: 3px;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.effect-underline:hover:after {
    width: 100%;
}


/* ---------------------------------navbar--------------------------------------- */


/* container */

.navbar-container {
    height: 100px;
    justify-content: space-between;
}

.logo {
    width: 30%;
    justify-content: left;
    margin-left: 20px;
}

.searchlogin-container {
    width: 30%;
    justify-content: right;
    margin-right: 30px;
}


/* toolbar */

.toolbar-container {
    width: 25%;
}

.createblog,
.chooseroom,
.tag {
    justify-content: left;
    margin: 0 auto;
}

.createblog-text a,
.chooseroom-text a,
.tag-text a {
    font-weight: 400;
    font-size: 21px;
    margin-left: 6px;
}


/* login */

.login-frame {
    margin-left: 10px;
    border: 2px solid #fff;
    border-radius: 40px;
    height: 45px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    transition: background-color .3s ease-in-out;
}

.login-text a {
    font-size: 23px;
    font-weight: 700;
    margin: 0 20px 0 20px;
    transition: color .3s ease-in-out;
}

.login-text a:hover,
.login-frame:hover .login-text a {
    color: #E05F4C;
}

.login-frame:hover,
.login-text a:hover .login-frame {
    background-color: #fff;
}


/* search */

.search-box {
    width: fit-content;
    height: fit-content;
    position: relative;
}

.input-search {
    height: 50px;
    width: 40px;
    border-style: none;
    padding: 10px;
    font-size: 18px;
    outline: none;
    border-radius: 25px;
    transition: all .5s ease-in-out;
    padding-right: 40px;
    background-color: transparent;
}

.input-search::placeholder {
    color: rgba(255, 255, 255, 0.637);
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 100;
}

.btn-search {
    width: 50px;
    height: 50px;
    border-style: none;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    right: 0px;
    background-color: transparent;
    pointer-events: painted;
}

.btn-search::before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border: 3px solid #fff;
    border-radius: 50%;
    transform: translate(-4px, -4px);
}

.btn-search::after {
    content: '';
    position: absolute;
    width: 3px;
    height: 12px;
    background: #fff;
    transform: translate(6px, 6px) rotate(315deg);
}

.btn-search:focus~.input-search {
    width: 280px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, .5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 1.5);
}

.input-search:focus {
    width: 280px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, .5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 1.5);
}


/* ---------------------------------footer--------------------------------------- */


/* container */

.footer-container {
    height: 300px;
    justify-content: space-between;
}

.footer-content {
    width: 50%;
}


/* toolbar */

.footer-toolbar,
.social-container,
.contactus-container {
    margin: 40px;
}

.footer-margin {
    margin-bottom: 15px;
}


/* effect */

.footer-effect-shadow {
    transition: all .3s ease;
}

.social li a,
.contactus li a {
    font-size: 18px;
    transition: all .3s ease;
}

.social li a:hover,
.contactus li a:hover,
.footer-effect-shadow:hover {
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.411);
}


/* girl pic */

.footer-pic {
    align-self: flex-end;
}


/* ---------------------------------home--------------------------------------- */


/* container */

.topblog-container {
    display: flex;
    justify-content: space-between;
}

.homeblog-container {
    background-color: #131313B2;
    border: 1px solid #FFFFFFBF;
    border-radius: 33px;
    padding: 20px 25px 20px 25px;
}


/* title */

.home-title {
    font-size: 35px;
    font-weight: 600;
    border-bottom: 2px solid #FFFFFFBF;
}


/* see all */

.see-all {
    font-weight: 500;
    width: 150px;
    height: 50px;
    border: 2px solid #FFFFFF;
    border-radius: 39px;
    margin: auto;
    transition: background-color .3s ease-in-out;
}

.see-all-text {
    transition: color .3s ease-in-out;
}

.see-all-text:hover,
.see-all:hover .see-all-text {
    color: #E05F4C;
}

.see-all:hover,
.see-all-text:hover .see-all {
    background-color: #fff;
}


/* ---top(3) popular blog--- */

.allpopblog {
    display: block;
    justify-content: center;
}

.popblog {
    padding: 25px;
    height: 400px;
}


/* blog cover */

.blog-cover-container {
    background: #8a858534;
}

.blog-cover {
    height: 270px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}


/* blog detail container*/

.blog-detail-container {
    background: #8a858534;
    padding: 20px;
    height: auto;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}


/* user profile picture */

.user-profile-pic {
    height: 3vw;
    width: 3vw;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}


/* blog detail */

.blog-detail-1,
.blog-detail-2 {
    display: flex;
    justify-content: space-between;
}

.blog-username-date,
.blog-like-comment {
    color: rgba(255, 255, 255, 0.596);
    font-size: 15px;
    font-weight: 300;
}