{% extends 'components/base.html' %} {% load static %} {% block content %} {% load widget_tweaks %}
<link rel="stylesheet" href="{%static '/css/create_post.css'%}">
<form method="POST" enctype="multipart/form-data"> {% csrf_token %}
    <div class="container">

        <!-- 1. หัวข้อกระทู้ -->
        <div class="blog-header-container style-container">
            <div class="title">
                <div class="title-text">หัวข้อกระทู้</div>
                <div id="header_count" class="count-text"></div>
            </div>
            <div class="blog-header">
                {% render_field form.title type="text" id="header_text" class="header-input blogfont" autocomplete="off" placeholder="หัวข้อกระทู้" required="" %}
            </div>
        </div>

        <!-- 2. เนื้อหากระทู้ -->
        <div class="blog-body-container style-container">
            <div class="title">
                <div class="title-text">เนื้อหากระทู้</div>
                <div id="body_count" class="count-text"></div>
            </div>
            <div class="blog-body">
                {% render_field form.content id="body_text" class="body-input blogfont" rows="10" placeholder="เนื้อหากระทู้"required=""%}
            </div>
        </div>

        <!-- 3. เลือกห้อง -->
        <div class="chooseroom-container style-container">
            <div class="title">
                <div class="title-text">เลือกห้อง</div>
                <div class="need">*จำเป็น</div>
            </div>
            <div class="all-room">
                <input type="radio" class="input" id="review" name="room" value="room_review">
                <div class="room-container">
                    <label for="review"><img src="/statics/images/review.png"><br>รีวิว</label>
                </div>

                <input type="radio" class="input" id="news" name="room" value="room_news">
                <div class="room-container">
                    <label for="news"><img src="/statics/images/news.png"><br>ข่าวสาร</label>
                </div>

                <input type="radio" class="input" id="educate" name="room" value="room_educate">
                <div class="room-container">
                    <label for="educate"><img src="/statics/images/educate.png"><br>เด็กเรียน</label>
                </div>

                <input type="radio" class="input" id="dorm" name="room" value="room_dorm">
                <div class="room-container">
                    <label for="dorm"><img src="/statics/images/dorm.png"><br>หอพัก</label>
                </div>

                <input type="radio" class="input" id="food" name="room" value="room_food">
                <div class="room-container">
                    <label for="food"><img src="/statics/images/food.png"><br>มุมอร่อย</label>
                </div>

                <input type="radio" class="input" id="sport" name="room" value="room_sport">
                <div class="room-container">
                    <label for="sport"><img src="/statics/images/sport.png"><br>กีฬา</label>
                </div>

                <input type="radio" class="input" id="travel" name="room" value="room_travel">
                <div class="room-container">
                    <label for="travel"><img src="/statics/images/travel.png"><br>ท่องเที่ยว</label>
                </div>

                <input type="radio" class="input" id="art" name="room" value="room_art">
                <div class="room-container">
                    <label for="art"><img src="/statics/images/art.png"><br>งานอาร์ต</label>
                </div>

                <input type="radio" class="input" id="pet" name="room" value="room_pet">
                <div class="room-container">
                    <label for="pet"><img src="/statics/images/pet.png"><br>สัตว์เลี้ยง</label>
                </div>

                <input type="radio" class="input" id="fashion" name="room" value="room_fashion">
                <div class="room-container">
                    <label for="fashion"><img src="/statics/images/fashion.png"><br>แฟชั่น</label>
                </div>

                <input type="radio" class="input" id="camera" name="room" value="room_camera">
                <div class="room-container">
                    <label for="camera"><img src="/statics/images/camera.png"><br>ถ่ายรูป</label>
                </div>

                <input type="radio" class="input" id="party" name="room" value="room_party">
                <div class="room-container">
                    <label for="party"><img src="/statics/images/party.png"><br>ปาร์ตี้</label>
                </div>

                <input type="radio" class="input" id="talk" name="room" value="room_talk">
                <div class="room-container">
                    <label for="talk"><img src="/statics/images/talk.png"><br>คุยเล่น</label>
                </div>

                <input type="radio" class="input" id="other" name="room" value="room_other">
                <div class="room-container">
                    <label for="other"><img src="/statics/images/other.png"><br>อื่น ๆ</label>
                </div>
            </div>
        </div>

        <!-- 4. ใส่แท็ก -->
        <div class="tag-container style-container">
            <div class="title">
                <div class="title-text">แท็ก</div>
                <div id="tag_count" class="count-text"></div>
            </div>
            <div class="blog-tag-container">
                <div class="all-tag">
                    {% render_field form.tag_string type="text" id="tag_list" name="tag_string" class="tag-list" %}
                    <textarea maxlength="50" rows="1" id="tag_input" class="tag-input" placeholder="เพิ่มแท็ก" autocomplete="off"></textarea>
                </div>
            </div>
        </div>

        <!-- 5. ใส่ปกกระทู้ -->
        <div class="blog-cover-container style-container">
            <div class="title-text" style="margin-bottom:5px">ปกกระทู้</div>
            <label for="cover_blog_img" class="add-cover">เพิ่มรูปปก</label>
            <input type="file" accept="image/png, image/jpeg" name="cover_image" id="cover_blog_img" style="pointer-events: none;">
            <img src="" id="show_img">
        </div>

        <!-- 6. ตั้งเวลาลบกระทู้ -->
        <div class="blog-set-time-container style-container">
            <div class="title">
                <div class="title-text">ตั้งเวลาลบกระทู้</div>
                <div class="need">*จำเป็น</div>
            </div>
            <div class="set-time">
                <div class="choose-set-time">
                    <input type="radio" class="time-input" id="set_time" name="time" value="time_set">
                    <div class="time-container">
                        <label for="set_time">กำหนดเวลา</label>
                    </div>

                    <input type="radio" class="time-input" id="unset_time" name="time" value="time_unset">
                    <div class="time-container">
                        <label for="unset_time">ไม่กำหนด</label>
                    </div>
                    <input type="datetime-local" class="date-time" name="expire_date" id="date_time">
                </div>
            </div>
        </div>

        <!-- 7. ปุ่มตั้งกระทู้ -->
        <button type="submit" id="submit_form" class="create-blog-btn redorange vhcenter" disabled>ตั้งกระทู้เลย</button>
    </div>
</form>
<a href="{%url 'rules_view'%}" class="blog-rule" target="_blank">ดูกฎการตั้งกระทู้</a>

<script>
    //----------------limit header text---------------------
    var headerTextContent = document.getElementById("header_text");
    var headerShowWordCount = document.getElementById("header_count");

    headerTextContent.addEventListener("input", function() {
        limitText(headerTextContent, headerShowWordCount, 4, 120);
        header = limitText(headerTextContent, headerShowWordCount, 4, 120);
        if (removeSpace(headerTextContent.value) == '') {
            header = false;
        }
        buttonAble('submit_form', header && body && room && (unsetTime || setTime));
    });

    //----------------limit body text---------------------
    var bodyTextContent = document.getElementById("body_text");
    var bodyShowWordCount = document.getElementById("body_count");

    bodyTextContent.addEventListener("input", function() {
        limitText(bodyTextContent, bodyShowWordCount, 6, 4000);
        body = limitText(bodyTextContent, bodyShowWordCount, 6, 4000);
        if (removeSpace(bodyTextContent.value) == '') {
            body = false;
        }
        buttonAble('submit_form', header && body && room && (unsetTime || setTime));
    });

    //---------------tag--------------------
    var TagTextContent = document.getElementById("tag_input");
    var TagShowWordCount = document.getElementById("tag_count");
    let container = document.querySelector('.all-tag')
    var tagList = document.getElementById('tag_list');
    tagList.value = '';
    TagTextContent.addEventListener("input", function() {
        limitText(TagTextContent, TagShowWordCount, 0, 50);
        TagTextContent.value = TagTextContent.value.substring(0, 50);
    });

    //event tag
    //submit tag
    TagTextContent.addEventListener('keyup', (event) => {
        TagTextContent.classList.remove('no-sp-text');
        if ((event.which == 32 || event.which == 13) && TagTextContent.value.length > 0) { //spacebar or enter to add tag
            var p = document.createElement('p');
            var text = removeSpChar(TagTextContent.value);
            tagLen = countTag();

            //add tag
            if (text && tagLen < 10) {
                TagShowWordCount.innerHTML = "0/50";

                //keep value to backend
                tagList.value += text + ',';

                text = '#' + text;
                var text_node = document.createTextNode(text);
                TagTextContent.parentNode.insertBefore(p, TagTextContent);
                p.appendChild(text_node);
                p.classList.add('post-tag');
                TagTextContent.value = '';
                tagLen = countTag();
            } else {
                TagTextContent.classList.add('no-sp-text');
            }

            //show input if tag length <10
            if (tagLen >= 10) {
                TagTextContent.disabled = true;
                TagTextContent.style.display = 'none';
            } else {
                TagTextContent.disabled = false;
                TagTextContent.style.display = 'flex';
            }

            //delete tag 1
            let tag = document.querySelectorAll('.post-tag');
            for (let i = 0; i < tag.length; i++) {
                tag[i].addEventListener('click', () => {
                    tagLen = countTag();

                    //remove value from backend
                    var data = tagList.value.split(',');
                    for (var j = 0; j < data.length; j++) {
                        if (data[j] == tag[i].innerText.substring(1)) {
                            data.splice(j, 1);
                        }
                    }
                    tagList.value = data;

                    //limit 10 tag
                    if (tagLen >= 10) {
                        TagTextContent.disabled = true;
                        TagTextContent.style.display = 'none';
                    } else {
                        TagTextContent.disabled = false;
                        TagTextContent.style.display = 'flex';
                    }
                    if (i + 1 == tag.length) {
                        tag[i].parentNode.removeChild(tag[i]);
                    }
                });
            }

        }
    });

    //---------------- all tags data ---------------   
    const tags = "{{tag_list_string}}";
    var tagArray = tags.split(',')

    /*initiate the autocomplete function on the "myInput" element, and pass along the countries array as possible autocomplete values:*/
    autocomplete(document.getElementById("tag_input"), tagArray);

    //----------------set min max date today (+7 day from today)---------------------
    var dateTime = document.getElementById("date_time")
    dateTime.addEventListener("click", function() {
        //today date
        var today = new Date();
        var todayFullDate = getFullDate(today);
        //max date
        var adddate = today.setDate(today.getDate() + 30);
        var maxdate = new Date(adddate);
        //get full date
        maxdate = getFullDate(maxdate);
        //set min max date
        dateTime.setAttribute('min', todayFullDate)
        dateTime.setAttribute('max', maxdate)


    });
    //----------------set min time today (+10min from now)---------------------
    dateTime.addEventListener("input", function() {
        //today plus 10 minutes date
        var todayPlus = new Date();
        var adddate = todayPlus.setMinutes(todayPlus.getMinutes() + 10);
        todayPlus = new Date(adddate);
        todayPlusFullDate = getFullDate(todayPlus);


        //input date
        if (dateTime.value) {
            var inputDate = new Date(dateTime.value);
            if (inputDate < todayPlus) {
                $('#date_time').val(todayPlusFullDate);
            }
        }
        //-----------time set checked------------
        if (dateTime.value == '') {
            setTime = false;
        } else {
            setTime = true;
        }
        buttonAble('submit_form', header && body && room && (unsetTime || setTime));
    });


    //-----------time set checked------------
    var unset = document.querySelector('#unset_time');
    var set = document.querySelector('#set_time');
    unset.addEventListener("click", function() {
        if (unset.checked == true) {
            dateTime.value = '';
            setTime = false;
            unsetTime = true;
        }
    });
    set.addEventListener("click", function() {
        if (set.checked == true) {
            unsetTime = false;
        }
    });


    //-----------room checked------------
    var roomArray = document.querySelectorAll('input[name=room]');
    for (var i = 0; i < roomArray.length; i++) {
        roomArray[i].addEventListener("click", function() {
            console.log(header, body, room, unsetTime, setTime);
            console.log(header && body && room && (unsetTime || setTime));
            room = true;
        });
    }


    //----------------prevent form submit---------------   
    document.querySelector('form').addEventListener("click", function() {
        buttonAble('submit_form', header && body && room && (unsetTime || setTime));
    });
    $('form').submit(function(event) {
        if (header && body && room && (unsetTime || setTime)) {
            tagLen = 0;
            return true;
        } else {
            return false;
        }
    });
    buttonAble('submit_form', header && body && room && (unsetTime || setTime));

    //image uploaded event
    document.querySelector("#cover_blog_img").onchange = evt => {
        var imgObj = document.querySelector("#cover_blog_img");
        var typeImg = imgObj.value.split(".")[1];
        if (typeImg == 'png' || typeImg == 'jpg' || typeImg == 'jpeg') {
            previewImg("#cover_blog_img", "#show_img")
        } else {
            imgObj.value = null;
            document.getElementById('show_img').src = '';
        }
    }

    //ค่าเริ่มต้น
    header = limitText(headerTextContent, headerShowWordCount, 4, 120);
    //ค่าเริ่มต้น
    body = limitText(bodyTextContent, bodyShowWordCount, 6, 4000);
    //ค่าเริ่มต้น
    limitText(TagTextContent, TagShowWordCount, 0, 50);
</script>
{% endblock content %}