{% extends 'components/base.html' %} {% load humanize %} {% load static %}{% block content %}

<link rel="stylesheet" href="{%static '/css/home.css'%}">
<link rel="stylesheet" href="{%static '/css/feed_page.css'%}">
<script src="https://unpkg.com/htmx.org@1.7.0" integrity="sha384-EzBXYPt0/T6gxNp0nuPtLkmRpmDBbjg6WmCUZRLXBBwYYmwAUxzlSGej0ARHX0Bo" crossorigin="anonymous" defer></script>


<div class="container">
    <div class="filter">
        <div hx-trigger="revealed" hx-swap="innerHTML" hx-target="#all_post" hx-get="{{ room.get_hx_latest_post }}"></div>
        <div class="latest" hx-trigger="click" hx-swap="innerHTML" hx-target="#all_post" hx-get="{{ room.get_hx_latest_post }}">ล่าสุด</div>
        <div class="temp" hx-trigger="click" hx-swap="innerHTML" hx-target="#all_post" hx-get="{{ room.get_hx_temp_post }}">ชั่วคราว</div>
    </div>
    <div class="all-post" id="all_post">
        <!-- ---------loop post----------- -->
        <!-- Moved to room_detail_post.html -->
        <!-- ----------------------------- -->
    </div>
</div>
<!-- 
<div> POST_ID :{{post.id}} </div>
<div> POST_TITLE : {{post.title}} </div>
<div> POST_CONTENT : {{post.content}} </div>
<div> POST_AUTHOR : {{post.author}} </div>
<div> POST_SLUG : {{post.slug}} </div>
<div> POST_CREATED : {{post.date_created}} {{post.date_created|naturaltime}}</div>
<div> <a style="text-decoration:underline;" href="{{ post.get_absolute_url }}">LINK(ABSOLUTE_URL)</a></div>
  -->

{% endblock %}