{% extends 'components/base.html' %} {% load humanize %} {% load static %}{% block content %}

<link rel="stylesheet" href="{%static '/css/home.css'%}">
<link rel="stylesheet" href="{%static '/css/feed_page.css'%}">
<script src="https://unpkg.com/htmx.org@1.7.0" integrity="sha384-EzBXYPt0/T6gxNp0nuPtLkmRpmDBbjg6WmCUZRLXBBwYYmwAUxzlSGej0ARHX0Bo" crossorigin="anonymous" defer></script>


<div class="container">
    <div class="filter">
        <div class="latest" hx-trigger="click" hx-swap="innerHTML" hx-target="#all_post" hx-get="{{ room.get_hx_latest_post }}">ล่าสุด</div>
        <div class="temp" hx-trigger="click" hx-swap="innerHTML" hx-target="#all_post" hx-get="{{ room.get_hx_temp_post }}">ชั่วคราว</div>
    </div>
    <div class="all-post" id="all_post">
        <!-- ---------loop post----------- -->
        {% for post in posts %}
        <a href="{{ post.get_absolute_url }}">
            <div class="post-container">
                <div class="user-profile-container vcenter" style="width:15%">
                    <a href="{{post.author.get_absolute_url}}">
                        <div class="user-profile-pic" style="background-image: url('/statics/images/defaultprofilepic.svg');height:60px;width:60px"></div>
                    </a>
                </div>
                <div class="post-content">
                    <div class="post-title">{{post.title}}</div>
                    <div class="post-detail">{{post.author}} : {{post.date_created|naturaltime}}</div>
                    <div class="post-body">{{post.content}}</div>
                    <div class="like-comment-count">
                        <img src="{% static 'images/like.png'%}" style="width:15px">{{post.liker.count}} &nbsp;
                        <img src="{% static 'images/comment.png'%}" style="width:15px">2
                    </div>
                </div>
            </div>
        </a>
        {% endfor %}
        <!-- ----------------------------- -->
    </div>
</div>
<!-- 
<div> POST_ID :{{post.id}} </div>
<div> POST_TITLE : {{post.title}} </div>
<div> POST_CONTENT : {{post.content}} </div>
<div> POST_AUTHOR : {{post.author}} </div>
<div> POST_SLUG : {{post.slug}} </div>
<div> POST_CREATED : {{post.date_created}} {{post.date_created|naturaltime}}</div>
<div> <a style="text-decoration:underline;" href="{{ post.get_absolute_url }}">LINK(ABSOLUTE_URL)</a></div>
  -->

{% endblock %}