{% extends 'components/base.html' %} {% load static%} {% block site_title%} Home {% endblock %}

<!---------- Prompt Messages ----->
{% block content %}
<link rel="stylesheet" href="{%static '/css/follow_list.css'%}">
<link rel="stylesheet" href="{%static '/css/tag.css'%}">

<div class="container">
    <div class="search-container follow-search vhcenter">
        <img src="/statics/images/search.svg" style="width:30px;margin-left:6px">
        <input type="text" id="search_input" onkeyup="search('not_found','search_input','tag_table',0)" placeholder="ค้นหาแท็ก..." class="user-search tag-search">
    </div>

    <table id="tag_table" class="tag-table">
        <!-- ------------search not found--------------- -->
        <div class="search-not-found vhcenter" id="not_found">ไม่พบแท็ก</div>
        <!-- ------------loop tag--------------- -->
        {% for tag in tags %}
        <tr>
            <td class="hashtag"><a href="#link to tag's post">#{{tag.title}}</a></td>
            <td class="post-count">{{tag.get_post.count}}&nbsp;กระทู้</td>
        </tr>
        {% endfor %}
        <!-- ------------------------------------ -->
    </table>
</div>

{% endblock %}