{% load static%}
<nav class="navbar">
    <div class="navbar-container">
        <div class="logo">
            <a href="/"><img src="{% static 'images/logotop.svg'%}" style="width:100%"></a>
        </div>
        <div class="toolbar-container">
            <div class="createblog">
                <div class="createblog-icon">
                    <a href="#"><img src="{% static 'images/createblog.svg'%}" style="width:100%"></a>
                </div>
                <div class="createblog-text"><a href="#">ตั้งกระทู้</a></div>
            </div>
            <div class="chooseroom">
                <div class="chooseroom-icon">
                    <a href="#"><img src="{% static 'images/room.svg'%}" style="width:100%"></a>
                </div>
                <div class="chooseroom-text"><a href="#">เลือกห้อง</a></div>
            </div>
            <div class="tag">
                <div class="tag-icon">
                    <a href="#"><img src="{% static 'images/hashtag.svg'%}" style="width:100%"></a>
                </div>
                <div class="tag-text"><a href="#">แท็ก</a></div>
            </div>
        </div>
        <div class="searchlogin-container">
            <div class="login-frame">
                <div class="login-text"><a href="{% url 'login_view' %}">Login ></a></div>
            </div>
            <div class="search-box">
                <button class="btn-search"></button>
                <input type="text" id="mysearch" class="input-search" placeholder="ค้นหาบน Dek-KMITL">
            </div>
        </div>
    </div>
</nav>

<!-- search script -->
<script>
    var input = document.getElementById("mysearch");
    input.addEventListener("keyup", function(event) {
        if (event.keyCode === 13) {
            event.preventDefault();
            var q = input.value
            location.replace(q)
        }
    });
</script>