{% extends 'components/base.html'%} {% load static %} {% block content %} {%load account_tags %}
<link rel="stylesheet" href="{%static '/css/home.css'%}">
<link rel="stylesheet" href="{%static '/css/profile.css'%}">
<link rel="stylesheet" href="{%static '/css/follow_list.css'%}">

<div class="container">
    <div class="follow-count">{{instance.total_followers}}&nbsp;ผู้ติดตาม</div>
    <a href="{{instance.get_absolute_url}}">
        <div class="back-to-profile">◂ กลับสู่หน้าโปรไฟล์ </div>
    </a>
    <div class="follow-search vhcenter">
        <img src="/statics/images/search.svg" style="width:30px;margin-left:6px">
        <input type="text" id="follower_search" onkeyup="search('user_not_found','follower_search','follower_table',1)" placeholder="ค้นหา" class="user-search">
    </div>
    <div class="user-info">
        <!-- ------------user not found--------------- -->
        <div class="user-not-found vhcenter" id="user_not_found">ไม่พบผู้ใช้</div>

        <table id="follower_table" class="follower-table">
            <!-- ******************loop user********************* -->
            {% for user in instance.followers %}
            <tr class="follower_tr">
                <td class="user-pic">
                    <a href="{{user.get_absolute_url}}">
                        <div class="user-profile-pic" style="background-image: url({{user.get_profile_image_url}})"></div>
                    </a>
                </td>
                <td class="user-name vhcenter">
                    <a href="{{user.get_absolute_url}}">{{user.first_name}} {{user.last_name}}</a>
                </td>
            </tr>
            <!-- ***************************************************** -->
            {% endfor %}
        </table>
    </div>
</div>


{% endblock %}