{% extends 'components/base.html'%} {% load static %} {% block content %} {%load account_tags %}
<link rel="stylesheet" href="{%static '/css/home.css'%}">
<link rel="stylesheet" href="{%static '/css/profile.css'%}">
<link rel="stylesheet" href="{%static '/css/follow_list.css'%}">

<div class="container">
    <div class="follow-count">{{instance.total_followings}}&nbsp;กำลังติดตาม</div>
    <a href="{{instance.get_absolute_url}}">
        <div class="back-to-profile">◂ กลับสู่หน้าโปรไฟล์ </div>
    </a>
    <div class="follow-search vhcenter">
        <img src="/statics/images/search.svg" style="width:30px;margin-left:6px">
        <input type="text" id="following_search" onkeyup="getResults()" placeholder="ค้นหา" class="user-search">
    </div>
    <div class="user-info">
        <!--******************** no follower ********************-->
        {% if not instance.followings %}
        
        <div class="user-not-found">ไม่พบผู้ใช้</div>
        {% else %}
        <!-- ******************loop user********************* -->
        {% for user in instance.followings %}
        <a href="{{user.get_absolute_url}}">
            <div class="user vcenter" style="justify-content:space-between">
                <div class="user-profile-container vcenter" style="width:100%">
                    <div class="user-profile-pic" style="background-image: url({{user.get_profile_image_url}})"></div>
                </div>
                <div class="user-detail vcenter">
                    <div class="username">{{user.first_name}} {{user.last_name}}</div>
                    <div class="button">
                        {% if user.pk == request.user.pk %}
                        <!-- Yourself -->
                        {% else %}
                            {% if request|is_following:user%}
                            <div class="unfollow-button vhcenter resize-btn"><a href="{{ user.get_toggle_follow_url }}" class="unfollow-button-link" id="unfollow_btn" onmouseover="changeText('เลิกติดตาม')" onmouseout="changeBack('ติดตามอยู่')">ติดตามอยู่</a></div>
                            {% else %}
                            <div class="follow-button vhcenter resize-btn"><a href="{{ user.get_toggle_follow_url}}" class="follow-button-link">ติดตาม</a></div>
                            {% endif %}

                        {% endif %}
                    </div>
                </div>
            </div>
        </a>
        {% endfor %}
        {% endif %}
        <!-- ***************************************************** -->
    </div>


</div>

{% endblock %}