{% extends 'components/base.html' %} {% load static %} {% block content %}


<div class="login-container" style="width:700px;margin:auto">
    <div class="login-logo">
        <img src="{% static 'images/logotop.svg'%}" style="width:100%">
    </div>
    <div class="login-form">
        <!-- Form -->
        <form method="POST">{% csrf_token %}
            <div class="email-container" style="margin-bottom:15px">
                <div class="info-title">อีเมล</div>
                <input class="info-input" type="text" name="email" id="inputEmail" placeholder="ระบุอีเมล" autofocus>
            </div>
            <div class="password-container">
                <div class="info-title">รหัสผ่าน</div>
                <input class="info-input" type="password" name="password" id="inputPassword1" placeholder="ระบุรหัสผ่าน">
            </div>
            <div class="info-detail">
                <div class="info-wrong">
                    {% for message in messages %} อีเมลหรือรหัสผ่านไม่ถูกต้อง {% endfor %}
                </div>
                <div class="signup-forgotpw">
                    <div class="login-signup">
                        <a href="{% url 'register_view' %}" class="singup-forgotpw-text">สมัครสมาชิก</a>
                    </div>
                    <div class="login-forgotpw">
                        <a href="#" class="singup-forgotpw-text">ลืมรหัสผ่าน</a>
                    </div>
                </div>
            </div>

            <div class="login-btn-container" style="width: 445px;margin:auto">
                <button type="submit" class="login-signup-btn redorange">เข้าสู่ระบบ</button>
            </div>

        </form>
    </div>
</div>






{% endblock %}