{% extends 'components/base.html' %} {% load static %} {% block content %}

<link rel="stylesheet" href="{%static '/css/login_register.css'%}">

<div class="login-container">

    <!-- 1. logo -->
    <div class="login-logo">
        <img src="{% static 'images/logotop.svg'%}" style="width:100%">
    </div>

    <!-- 2. login form -->
    <div class="login-form">
        <form method="POST">{% csrf_token %}
            <!-- 2.1 email info -->
            <div class="email-container" style="margin-bottom:15px">
                <div class="info-title">อีเมล</div>
                <input class="info-input" type="text" name="email" id="inputEmail" placeholder="ระบุอีเมล" autofocus>
            </div>
            <!-- 2.2 password info -->
            <div class="password-container">
                <div class="info-title">รหัสผ่าน</div>
                <input class="info-input" type="password" name="password" id="inputPassword1" placeholder="ระบุรหัสผ่าน">
            </div>
            <!-- 2.3 other button -->
            <div class="info-detail">
                <!-- 2.3.1 wrong info -->
                <div class="info-wrong">
                    {% for message in messages %} อีเมลหรือรหัสผ่านไม่ถูกต้อง {% endfor %}
                </div>
                <!-- 2.3.2 signup or forgot password -->
                <div class="signup-forgotpw">
                    <div class="login-signup">
                        <a href="{% url 'register_view' %}" class="singup-forgotpw-text">สมัครสมาชิก</a>
                    </div>
                    <div class="login-forgotpw">
                        <a href="#" class="singup-forgotpw-text">ลืมรหัสผ่าน</a>
                    </div>
                </div>
            </div>
            <!-- 2.4 login button -->
            <div class="login-btn-container" style="width: 445px;margin:auto">
                <button type="submit" class="login-signup-btn redorange">เข้าสู่ระบบ</button>
            </div>

        </form>
    </div>
</div>






{% endblock %}