{% extends 'components/base.html'%} {% load static %} {% block content %}

<link rel="stylesheet" href="{%static '/css/profile_edit.css'%}">
<link rel="stylesheet" href="{%static '/css/password_edit.css'%}">

<form method="POST" class="container">{%csrf_token%}
    <!-- 1. old password -->
    <div class="pw-old margin">
        <div class="info-title">รหัสผ่านเดิม</div>
        <input class="info-input" type="text" name="pw-old" id="inputPwOld" placeholder="ระบุรหัสผ่านเดิม">
    </div>

    <!-- 2. new password -->
    <div class="pw margin">
        <div class="info-title">รหัสผ่านใหม่</div>
        <input class="info-input" type="text" name="pw-old" id="inputPwOld" placeholder="ระบุรรหัสผ่านใหม่">
    </div>

    <!-- 3. confirm new password -->
    <div class="pw margin">
        <div class="info-title">ยืนยันรหัสผ่านใหม่</div>
        <input class="info-input" type="text" name="pw-old" id="inputPwOld" placeholder="ยืนยันรหัสผ่านใหม่">
    </div>

    <!-- 4. cancel and save button -->
    <div class="button margin">
        <button type="submit" class="submit-btn redorange shadow-effect">บันทึก</button>
        <a href="{%url 'profile_view'%}">
            <div class="cancel-btn color-effect">ยกเลิก</div>
        </a>
    </div>
</form>

{% endblock %}