{% extends 'components/base.html'%} {% load static %} {% block content %}

<link rel="stylesheet" href="{%static '/css/profile.css'%}">
<link rel="stylesheet" href="{%static '/css/profile_edit.css'%}">

<form method="POST" class="profile-container" enctype="multipart/form-data">{%csrf_token%}
    <!-- 1. cover photo  -->
    <div id="cover_preview_img" class="profile-cover" style="cursor:initial;background-image: url({{request.user.get_cover_image_url}})"></div>

    <!-- 2. profile image and upload -->
    <div class="profile-detail-pic-name">
        <!-- 2.1 profile image -->
        <div id="profile_preview_img" class="profile-picture" style="cursor:initial;background-image: url({{request.user.profile_image.url}});background-color:#282828;min-width:150px;width:0"></div>
        <!-- 2.2 upload profile image and cover image input -->
        <div class="upload-container">
            <!-- 2.2.1 upload profile image -->
            <div class="img-upload-container">
                <div class="text">แก้ไขรูปโปรไฟล์</div>
                <div class="custom-file-upload-container vhcenter" id="change_p_bg">
                    <label class="custom-file-upload" id="change_p_text">
                        <input type="file" accept="image/*"  name="profile_image" id="profile_input_img">
                        <!-- {{form.profile_image}} -->
                        อัปโหลดรูปโปรไฟล์
                    </label>
                </div>
                <div class="remove-img">
                    <div class="remove-btn" type="text" onclick="removeProfileImg()">ลบรูปโปรไฟล์</div>
                </div>
            </div>
            <!-- 2.2.2 upload cover image -->
            <div class="img-upload-container">
                <div class="text">แก้ไขรูปปก</div>
                <div class="custom-file-upload-container vhcenter" id="change_c_bg">
                    <label class="custom-file-upload" id="change_c_text">
                        <input type="file" accept="image/*" name="cover_image" id="cover_input_img">
                        อัปโหลดรูปปก
                    </label>
                </div>
                <div class="remove-img">
                    <div class="remove-btn" type="text" onclick="removeCoverImg()">ลบรูปปก</div>
                </div>
            </div>
        </div>
    </div>

    <!-- 3. name edit -->
    <div class="name-info margin" style="display:flex;justify-content:space-between">
        <div class="info-container" style="width:49%">
            <div class="info-title">ชื่อจริง</div>
            {{form.first_name}}
            <!-- <input class="info-input" type="text" name="first_name" id="inputFirstname" placeholder="ระบุชื่อจริง"> -->
        </div>
        <div class="info-container" style="width:49%">
            <div class="info-title">นามสกุล</div>
            {{form.last_name}}
            <!-- <input class="info-input" type="text" name="last_name" id="inputLastname" placeholder="ระบุนามสกุล"> -->
        </div>
    </div>

    <!-- 4. bio edit -->
    <div class="bio-edit margin">
        <div class="info-title">คำอธิบายตัวเอง</div>
        <!-- <input class="info-input" type="text" name="bio" id="inputBio" placeholder="ระบุคำอธิบายตัวเอง"> -->
        {{form.bio}}
    </div>

    <!-- 5. password edit button -->
    <div class="password-edit vhcenter margin">
        <a href="{%url 'profile_edit_password_view'%}" class="pw-edit">แก้ไขรหัสผ่าน</a>
    </div>

    <!-- 6. cancel and save button -->
    <div class="button margin">
        <button type="submit" class="submit-btn redorange shadow-effect">บันทึก</button>
        <a href="{%url 'profile_view'%}">
            <div class="cancel-btn color-effect">ยกเลิก</div>
        </a>
    </div>
</form>

<script>
    //preview image function
    function previewImg(inputImg, outputImg) {
        let input = document.querySelector(inputImg);
        let preview = document.querySelector(outputImg);
        const [file] = input.files;
        var tmp_path = URL.createObjectURL(file);
        if (file) {
            preview.style.backgroundImage = "url('" + tmp_path + "')";
        }
    }

    //function add and remove class
    function addClass(bgID, textID) {
        document.getElementById(bgID).classList.add("change-bg");
        document.getElementById(textID).classList.add("change-text");
    }

    function removeClass(bgID, textID) {
        document.getElementById(bgID).classList.remove("change-bg");
        document.getElementById(textID).classList.remove("change-text");
    }

    //function for onclick button
    function removeProfileImg() {
        document.querySelector("#profile_preview_img").style.backgroundImage = "url('/statics/images/default_profile_image.svg')";
        removeClass("change_p_bg", "change_p_text");
    }

    function removeCoverImg() {
        document.querySelector("#cover_preview_img").style.backgroundImage = "url('/statics/images/defaultcover.svg')";
        removeClass("change_c_bg", "change_c_text");
    }

    //image uploaded event
    document.querySelector("#profile_input_img").onchange = evt => {
        previewImg("#profile_input_img", "#profile_preview_img")
        addClass("change_p_bg", "change_p_text");
    }

    document.querySelector("#cover_input_img").onchange = evt => {
        previewImg("#cover_input_img", "#cover_preview_img")
        addClass("change_c_bg", "change_c_text");
    }
</script>
{% endblock %}