{% extends 'components/base.html'%} {% load static %} {% block content %} {%load account_tags %} {% load post_tags %} {% load humanize %}
<link rel="stylesheet" href="{%static '/css/profile.css'%}">
<link rel="stylesheet" href="{%static '/css/home.css'%}">

<div class="profile-container">

    <!-- 1. cover photo  -->
    <div class="profile-cover cover-effect" id="cover_img" onclick="fullCoverImg()" style="background-image: url({{instance.get_cover_image_url}})"></div>
    <!-- *popup cover image -->
    <div class="popup popup_cover_img" id="full_cover_img">
        <div class="close" onclick="closeFullCoverImg()" id="close_cover_img">✕</div>
        <img src="{{instance.get_cover_image_url}}" class="large-image">
    </div>
    <!-- 2. profile image, name and edit profile button -->
    <div class="profile-detail-pic-name">
        <!-- 2.1 profile image -->
        <div class="profile-picture cover-effect" id="profile_img" onclick="fullProfileImg()" style="background-image: url({{instance.profile_image.url}})"></div>
        <!-- *popup profile image -->
        <div class="popup popup_profile_img" id="full_profile_img">
            <div class="close" onclick="closeFullProfileImg()" id="close_profile_img">✕</div>
            <img src="{{instance.profile_image.url}}" class="large-image">
        </div>
        <!-- 2.2 profile name and edit profile button -->
        <div class="profile-detail">
            <div class="profile-name">
                <div class="profile-first-name">{{instance.first_name|title}}</div>
                <div class="profile-last-name">{{instance.last_name|title}}</div>
            </div>

            {% if request.user.pk == instance.pk %}
            <!-- ------------ *if your profile use edit profile button ------------------ -->
            <div class="profile-edit vhcenter"><a href="{% url 'profile_edit_view' %}" class="profile-edit-link">แก้ไขโปรไฟล์</a></div>
            {% else %}
            <!-- ------------ *if not your profile use follow button ------------------ -->
            {% if request|is_following:instance %}
            <div class="unfollow-button vhcenter"><a href="{{ instance.get_toggle_follow_url }}" class="unfollow-button-link " id="unfollow_btn" style="font-size:20px" onmouseover="changeText('เลิกติดตาม')" onmouseout="changeBack('ติดตามอยู่')">ติดตามอยู่</a></div>
            {% else %}
            <div class="follow-button vhcenter"><a href="{{ instance.get_toggle_follow_url}}" class="follow-button-link " style="font-size:20px">ติดตาม</a></div>
            {% endif %} {% endif %}
        </div>
    </div>

    <!-- 3. profile bio -->
    <div class="profile-bio profile-margin" style="overflow-wrap:anywhere;">{{instance.bio}}</div>

    <!-- 4. user follower and following -->
    <div class="profile-follow profile-margin">
        <a href="{% url 'account:following_list_view' %}">
            <div class="profile-follow-text">{% total_followings instance %} กำลังติดตาม</div>
        </a>
        <a href="{% url 'account:follower_list_view' %}">
            <div class="profile-follow-text">{% total_followers instance %} ผู้ติดตาม</div>
        </a>
    </div>

    <!-- 5. create blog button -->
    <!-- *if not your profile don't have this button -->
    {% if request.user.pk == instance.id %}
    <div class="profile-create-blog profile-margin vhcenter">
        <div class="createblog-icon vhcenter">
            <a href="{%url 'post:create_view'%}" class="vcenter"><img src="{% static 'images/createblog.svg'%}" style="width:20px"></a>
        </div>

        
        <div class="createblog-text"><a href="{%url 'post:create_view'%}" style="font-size:19px">ตั้งกระทู้</a></div>


    </div>
    {% endif %}

    <!-- 6. user blog -->
    

    {% if not instance.post.all %}
        <!-- ******************blog not found*****************8 -->
        <div class="notfound-blog no-thumbnail-blog vhcenter" style="width:100%;font-size:35px">ยังไม่มีกระทู้</div>
    {% endif %}

    {% for post in instance|post_list %}
    
    <div class="profile-margin" style="display:block;margin-top:25px">
        <!-- ********************loop blog*********************** -->
        <div class="no-thumbnail-blog profile-myblog vhcenter" style="width:100%">
            <div class="user-profile-container vhcenter" style="width:15%">
                <a href="{{post.author.get_absolute_url}}">
                    <div class="user-profile-pic" style="background-image: url({{post.author.profile_image.url}})"></div>
                </a>
            </div>
            <div class="blog-detail" style="width:85%;margin-right:20px">
                <div class="blog-name wrap-name" style="max-width:100%">

                    <a href="{{post.get_absolute_url}}" class="blogfont">{{post.title}}</a>

                </div>
                <div class="blog-detail-2">
                    <div class="blog-username-date"><a href="{{post.author.get_absolute_url}}">{{post.author.first_name|title}} : {{post.date_created|naturaltime}}</a></div>
                    <div class="blog-like-comment vhcenter">
                        <img src="{% static 'images/like.png'%}" style="width:15px">{{post.likes.count}} &nbsp;
                        <img src="{% static 'images/comment.png'%}" style="width:15px">50
                    </div>
                </div>
            </div>
        </div>
        <!-- ************************************************* -->

    </div>
    

    {% endfor %}




</div>
{% endblock %}