{% extends 'components/base.html'%} {% load static %} {% block content %}

<!-- Profile Card -->
<div class="container pt-5">
<div class="card mb-4" style="width: 30rem">
  <img
    class="card-img-top"
    src="{{account.profile_image.url}}"
    style="max-width:100px;"
    alt="Card image cap"
  />
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">
      Some quick example text to build on the card title and make up the bulk of
      the card's content.

<ul class="content">
  <li>Firstname: {{account.first_name}}</li>
  <li>Lastname : {{account.last_name}}</li>
  <li>Email : {{account.email}}</li>
  <li>profile image url: <a style="text-decoration: underline;" href="{{account.profile_image.url}}">{{request.user.profile_image.url}}</a></li>
  <li>Bio: {{account.bio}}</li>
  <li>Last login : {{account.last_login}}</li>
  <li>Date registered: {{account.date_registered}}</li>
  <li>is_admin: {{account.is_admin}}</li>

</ul>



    </p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
</div>


{% endblock %}
