{% extends 'components/base.html' %} {% load static %} {% block content %}

<!-- Register Form -->
<!-- Form -->
<!--div class="col-12 col-sm-7 col-md-3 m-auto mt-5"-->
<div class="login-container" style="width:700px;margin:auto">
    <div class="login-logo">
        <img src="{% static 'images/logotop.svg'%}" style="width:100%">
    </div>
    <div class="signup-form">
        <!-- Form -->
        <form method="POST">{% csrf_token %}
            <div class="info-container">
                <div class="info-title">ชื่อจริง</div>
                <input class="info-input" type="text" name="first_name" id="inputFirstname" placeholder="ระบุชื่อจริง" autofocus>
            </div>
            <div class="info-container">
                <div class="info-title">นามสกุล</div>
                <input class="info-input" type="text" name="last_name" id="inputLastname" placeholder="ระบุนามสกุล">
            </div>
            <div class="info-container">
                <div class="info-title">อีเมล</div>
                <input class="info-input" type="email" name="email" id="inputEmail" placeholder="ระบุอีเมล">
            </div>
            <div class="info-container">
                <div class="info-title">รหัสผ่าน</div>
                <input class="info-input" type="password" name="password1" id="inputPassword1" placeholder="ระบุรหัสผ่าน">
            </div>
            <div class="info-container">
                <div class="info-title">ยืนยันรหัสผ่าน</div>
                <input class="info-input" type="password" name="password2" id="inputPassword1" placeholder="ยืนยันรหัสผ่าน">
            </div>
            <div class="info-detail">
                <div class="info-wrong">
                    {% for field in form %}{% for error in field.errors %}กรุณากรอกข้อมูลให้ครบ{% endfor %}{% endfor %}
                </div>
            </div>
            <div class="signup-btn-container" style="width: 445px;margin:auto">
                <button type="submit" class="login-signup-btn redorange">สมัครสมาชิก</button>
            </div>
        </form>
    </div>
</div>




{% endblock content %}