{% load static%} {% load humanize %}

<link rel="stylesheet" href="{%static '/css/home.css'%}">
<link rel="stylesheet" href="{%static '/css/feed_page.css'%}">
<script src="https://unpkg.com/htmx.org@1.7.0" integrity="sha384-EzBXYPt0/T6gxNp0nuPtLkmRpmDBbjg6WmCUZRLXBBwYYmwAUxzlSGej0ARHX0Bo" crossorigin="anonymous" defer></script>

<div hx-trigger="revealed" hx-swap="innerHTML" hx-target="#hx_swap_target" hx-get="{% url 'hx_home_filter_view' 'ONE_WEEK' %}"></div>

<div class="homeblog-container" style="min-width:49%">
    <div class="top3-container">
        <div class="title-top3" style="max-width:70%">TOP3 กระทู้ยอดนิยม</div>
        <div class="time-choose vhcenter">
            <div class="in" style="font-size:19px">ใน</div>
            <div class="time-choose-dropdown">
                <button onclick="toggleClass('time_choose_dropdown', 'time-show')" class="time-choose-dropbtn" id="period"></button>
                <div id="time_choose_dropdown" class="time-choose-dropdown-content" hx-trigger="click" hx-target="#period" hx-swap="innerHTML">
                    <a id="oneday" hx-trigger="click" hx-swap="innerHTML" hx-target="#hx_swap_target" hx-get="{% url 'hx_home_filter_view' 'ONE_DAY' %}">หนึ่งวัน</a>
                    <a id="oneweek" hx-trigger="click" hx-swap="innerHTML" hx-target="#hx_swap_target" hx-get="{% url 'hx_home_filter_view' 'ONE_WEEK' %}">หนึ่งสัปดาห์</a>
                    <a id="onemonth" hx-trigger="click" hx-swap="innerHTML" hx-target="#hx_swap_target" hx-get="{% url 'hx_home_filter_view' 'ONE_MONTH' %}">หนึ่งเดือน</a>
                    <a id="alltime" hx-trigger="click" hx-swap="innerHTML" hx-target="#hx_swap_target" hx-get="{% url 'hx_home_filter_view' 'ALLTIME' %}">เวลาทั้งหมด</a>
                </div>
            </div>
        </div>
    </div>
    <div class="allpopblog" style="min-height:300px">
        <div id="hx_swap_target">
            <!-- ******************** Loop Blog ********************* -->
            <!-- Moved to pages/components/hx_partials/post_loop.html -->
            <!-- **************************************************** -->
        </div>
    </div>
</div>